option_settings:
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.large
    EC2KeyName: devops-key
    RootVolumeSize: '16'
    BlockDeviceMappings: /dev/xvdcz=:18:true:gp2
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    SecurityGroups: sg-11111111,sg-2222222
  aws:ec2:vpc:
    VPCId: vpc-5555555
    ELBSubnets: subnet-1,subnet-2,subnet-3
    Subnets: subnet-1,subnet-2,subnet-3
    AssociatePublicIpAddress: true
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elb:loadbalancer:
    CrossZone: 'true'
    LoadBalancerHTTPPort: '80'
    LoadBalancerHTTPSPort: '443'
    LoadBalancerPortProtocol: HTTP
    LoadBalancerSSLPortProtocol: HTTPS
    SSLCertificateId: arn:aws:acm:us-west-2:1111111111111:certificate/bla-bla-bla

