files:
  "/home/ec2-user/nginx/nginx.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {

        listen 80 default_server;

        if ($http_x_forwarded_proto != 'https') {
          rewrite ^ https://$host$request_uri? permanent;
        }

        server_name  _;

        location / {
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_pass http://app:8080;
        }
      }
