files:
  "/etc/zabbix/zabbix_agentd.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      PidFile=/var/run/zabbix/zabbix_agentd.pid
      LogFile=/var/log/zabbix/zabbix_agentd.log
      LogFileSize=0
      Server=zabbix.server.domain
      ListenPort=10050
      ServerActive=zabbix.server.domain
      HostMetadata=docker
      Include=/etc/zabbix/zabbix_agentd.d
      LoadModulePath=/var/lib/zabbix/modules

  "/var/lib/zabbix/modules/zabbix_module_docker.so":
    mode: "000644"
    owner: root
    group: root
    source: https://github.com/monitoringartist/zabbix-docker-monitoring/raw/gh-pages/centos7/3.4/zabbix_module_docker.so
